.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app-contents {
  display: flex;
  background-color: white;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 30px -6px rgba(0,0,0,0.75);
}