.ChatRoom {
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

.chat-header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.room-info {
    flex: 1;
    padding-left: 20px;
}

.one-message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;
}
.time-sent {
    margin-left: 10px;
    font-size: xx-small;
}

.chat_name {
    position: absolute;
    top: -15px;
    font-weight: 600px;
    font-size: xx-small;
}

.messages {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}
.message-received {
    margin-left: auto;
    background-color: #dcf8c6;

}
.chat-footer {
    display: flex;
    justify-content: space-between;

    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat-footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
.chat-footer > form {
    flex: 1;
display: flex;
}

.chat-footer > form > button {
display: none;
}

.chat-footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray
}

