.RoomList {
    display:flex;
    flex-direction: column;
    flex: 0.3;
}

.header-roomlist {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;

}
.search-container {
    display: flex;
    align-items: center;
    background-color:white;
    width: 100%;
    height: 35px;
    border-radius: 25px;
}


.search-container > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}
.search-container > input {
border: none;
outline-width: 0;
margin-left: 10px;
}
.chats {
    flex:1;
    background-color: white;
    overflow: scroll;
}